Data Science Tools and Ecosystem

# Excercise 3: Create a markdown cell to a introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Describe common libraries used in Data Science
- Explain development environments used in Data Science
- Summarize key tools and frameworks in the Data Science ecosystem

# Excercise 4: create a markdown cell to list data science languages
Some of the languages ​​most used by data scientists are:

# Excercise 5: create a markdown cellto list data science libraries
Among the libraries frequently used by data scientists are:
ordered list:
1. Panda
2. TensorFlow
3. Numpy

# Exercise 6: Create a Markdown Cell with a Data Science Tools Table
Data Science Tools:
| Jupyter Notebook | RStudio | VS Code |

# Exercise 7: Create a Markdown cell that presents examples of arithmetic expressions
### Below are some examples of how to evaluate arithmetic expressions in Python

In [2]:
(3*4)+5

17

This is a basic arithmetic expression that first multiplies and then adds whole numbers

In [3]:
200/60

3.3333333333333335

This will convert 200 minutes to hours by dividing by 60

## Author
Atilio Sebastián Saldías Valdivia